<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content Section-->

    <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
    
        <div class="row text-center">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
        <img class="img-responsive  img-thumbnail" src="./Assets/images/Logo.jpg" style="width:300px;height:300px;" />
        <br/><br/>
        </div>
        <br><br>
    <div class="card-body">
        <p class="card-text">I am Venzon Ariola, an in international student from the Philippines taking Software Engineering Technician at Centennial College Progress Campus. 
            
        </div>
    </div>

    </div>
  </main>  


<%- include partials/bottom_nav.ejs %>     
  
<%- include partials/footer.ejs %>

