<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content Section-->

    <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> information </h1>

        <br><br>
        <div class="clearfix">
            <img src="./Assets/images/myphoto.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="my photo" style="width:300px;height:300px;" >

            <p class="fs-5">
                My name is <b><i>Venzon Ariola</i></b>, I am an international student from the Philippines currently taking Software Engineering Technician at Centennial College.
                I was a graduate of diploma certificate in Computer System Design and Programming way back 2008, but I was not able to practice my study as I worked
                in a BPO industry for more than 11 years as a team manager. 
            </p>
                
            <p class="fs-5">
                Back in 2008 I learned basic C, C++, Visual Foxpro and Visual Basic programming, CSS and HTML. Now, that I am studying software engineering I have acquired new knowlede in
                 C#, JavaScript, Phyton, Java programming, SQL database management, MongoDB, nodejs, and express. 
            </p>

            <p class="fs-5">
                I have decided to study again to pursue my passion in programming and web application development, and to switch career. I wanted to become a 
                <b>full stack developer</b> after I graduate. Here is the copy of my recent <a href="./Assets/myresume.pdf" target="_blank">resume</a>.
            </p>
        </div>

    </div>
  </main>  


<%- include partials/bottom_nav.ejs %>     
  
<%- include partials/footer.ejs %>

