<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<div class="container">
  <br />
  <div class="jumbotron">
    
  <h2>My <%= title %></h2>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="/Assets/images/web1project.jpg" style="width:400px;height:228px;" />
        <p class="fs-5"><b>Developed a real property website</b></p>
        <br /><br />
     
        
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="/Assets/images/softengproject.jpg" style="width:400px;height:228px;" />
        <p class="fs-5"><b>Project member for My Wellness App Soft Project.</b></p>
        <br /><br />
       
        
      </div>
    </div>
    <br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="/Assets/images/cprogprojects.jpg" style="width:400px;height:228px;" />
        <p class="fs-5"><b>Developed Bank Account App in C#</b></p>
        <br /><br />
       
        
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="/Assets/images/javaprog.jpg" style="width:400px;height:228px;" />
        <p class="fs-5"><b>Developed Multiple Choice Quiz in Java</b></p>
        <br /><br />
        
        
      </div>
    </div>
    
  </div>
  </div>


<%- include partials/bottom_nav.ejs %>     
  
<%- include partials/footer.ejs %>